<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        h1{
            color: rgb(0, 162, 255);
        }
        ul{
            color: rgb(1, 187, 255);
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Showing details of :"<%= product.name %>" </h1>
    <ul>
        <li>Price:<%= product.price %> </li>
        <li>Category:<%= product.category %> </li>
    </ul>
    <a href="/products">Go to all Products</a><br>
    <a href="/products/<%= product._id %>/edit">Edit Product Details</a>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>